name: Type Check

on:
  push:
    branches: [main, beta-*]
  pull_request:
    branches: [main]

jobs:
  pyright:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install pyright kodistubs

      - name: Run pyright
        run: pyright
